[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/chainlink-contracts"]
	path = lib/chainlink-contracts
	url = https://github.com/alphachainio/chainlink-contracts
